<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/CSS/Header.css">
    <link rel="stylesheet" href="/CSS/admin.css">
</head>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const password = prompt("Enter the company password:");

        if (password === null) {
            // User canceled the prompt
            alert("Access denied.");
            window.location.href = '/';
            return;
        }

        fetch('/admin', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ password: password })
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    window.location.href = '/home';
                    throw new Error("Invalid password");
                }
            })
            .then(data => {
                if (data.message == "Invalid Password") {
                    window.location.href = '/home';
                    alert("Access denied. Incorrect password.");
                } else if (data.message == "Password Matched") {
                    alert("Access granted.");
                    const container = document.getElementById('container');
                    container.style.display = 'block';

                }
            })
            .catch(error => {
                alert(error.message);
                window.location.href = '/';
            });
    });
</script>

<body>
    <div id="container">
        <%- include('header') %> <!-- This includes the header.html content -->
            <div class="content">
                <% supervisors.forEach(supervisors=> { %>
                    <div class="supervisors-box">
                        <img src="<%= supervisors.profile %>" alt="Profile Picture">
                        <h3>
                            <a href="/profile/<%= supervisors._id %>">
                                <%= supervisors.firstName %>
                                    <%= supervisors.lastName %>
                            </a>
                        </h3>
                        <p><strong>Email:</strong>
                            <%= supervisors.email %>
                        </p>
                        <p><strong>Level:</strong>
                            <%= supervisors.level %>
                        </p>
                        <button class="button" onClick="ChatUser('<%= supervisors._id %>')">Chat with
                            User</button>
                        <button class="button" onClick="DeleteUser('<%= supervisors._id %>')">Delete
                            User</button>
                    </div>
                    <% }); %>
                        <script>
                            function ChatUser(users) {
                                window.location.href = `/chat/${users}`;
                            }
                            function DeleteUser(user) {
                                //console.log(user);
                                fetch(`/delete/${user}`, {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    }
                                })
                                    .then(response => {
                                        //console.log(response);
                                        if (response.ok) {
                                            return response.json();
                                        } else {
                                            throw new Error("Invalid user");
                                        }
                                    })
                                    .then(data => {
                                        console.log(data);
                                        if (data.message === "Invalid User" || data.message === "You cannot delete yourself") {
                                            alert("User not found or cant delete yourself");
                                        } else if (data.message === "User Deleted") {
                                            alert("User deleted.");
                                            window.location.href = '/admin';
                                        }
                                    })
                                    .catch(error => {
                                        alert(error.message);
                                    });
                            }
                        </script>
            </div>
</body>

</html>