<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Members</title>
    <link rel="stylesheet" href="/CSS/PMembers.css">
    <link rel="stylesheet" href="/CSS/Header.css">
</head>

<body>
    <%- include('header') %> <!-- This includes the header.html content -->
        <div id="main">
            <div class="container">
                <% members.forEach(member=> { %>
                    <% if (member.level==="Member" ) { %>
                        <div class="member-box">
                            <img src="<%= member.profile %>" alt="Profile Picture">
                            <h3>
                                <a href="/profile/<%= member._id %>">
                                    <%= member.firstName %>
                                        <%= member.lastName %>
                                </a>
                            </h3>
                            <p><strong>Email:</strong>
                                <%= member.email %>
                            </p>
                            <button class="button" onClick="ChatUser('<%= member._id %>')">Chat with User</button>

                            <% if (typeof HTML !=='undefined' && HTML !==null) { %>
                                <%- HTML %>
                                    <% } %>
                        </div>
                        <% } %>
                            <% }); %>

                                <script>
                                    function ChatUser(userId) {
                                        window.location.href = `/chat/${userId}`;
                                    }
                                </script>


            </div>
        </div>
</body>

</html>