<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Page</title>
    <link rel="stylesheet" href="/CSS/Header.css">
    <link rel="stylesheet" href="/CSS/Members.css">
</head>

<body>
    <%- include('header') %>

        <div class="container">
            <% members.forEach(member=> { %>
                <div class="member-box">
                    <img src="<%= member.profile %>" alt="Profile Picture">
                    <h3>
                        <%= member.firstName %>
                            <%= member.lastName %>
                    </h3>
                    <p><strong>Email:</strong>
                        <%= member.email %>
                    </p>
                    <p><strong>Username:</strong>
                        <%= member.email.split('@')[0] %>
                    </p>
                    <p><strong>Role:</strong>
                        <%= member.role %>
                    </p>
                    <button class="button"></button>
                </div>
                <% }) %>
        </div>
</body>

</html>