<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task</title>
    <link rel="stylesheet" href="/CSS/Header.css">
    <link rel="stylesheet" href="/CSS/task.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.5.0/frappe-gantt.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.5.0/frappe-gantt.min.js"></script>-->
</head>

<body>
    <%- include('header') %> <!-- This includes the header.html content -->
        <div id="main">
            <div id="content">
                <h2 id="Help">click the tabs to see the dashboard of the task or the chats or the members in the task
                </h2>
                <button class="button1" id="back" onclick="window.location.href='/project/<%= task.projectID %>'">Back
                    to Projects</button>
                <div class=" tab">
                    <button class="tablinks" onclick="openTab(event, 'ComInfo')">Dashboard</button>
                    <button class="tablinks" onclick="openTab(event, 'add')">Add Sub Task</button>
                    <button class="tablinks" onclick="openTab(event, 'Super')">Task Chats</button>
                    <button class="tablinks" onclick="openTab(event, 'TeamMem')">Team Memebers</button>
                </div>

                <div id="ComInfo" class="tabcontent">
                    <h1>Task Dashboard</h1>
                    <div class="container">
                        <div class="column">
                            <h3>Not Started</h3>
                            <% sub_task.forEach(task=> { if (task.todo === "Not Started") { %>
                                <div class="task" onclick="toggleDetails('<%= task._id %>')">
                                    <%= task.task %> <button type="button" class="button1" id="update"
                                            onclick="update('<%= task._id %>','Started')">Started</button>
                                        <button type="button" class="button1" id="update"
                                            onclick="change(`<%= task %>`)">change</button>
                                        <div>
                                            <div id="details-<%= task._id %>" class="details">
                                                <p><strong>Description:</strong>
                                                    <%= task.description %>
                                                </p>
                                                <p><strong>Start:</strong>
                                                    <%= task.start %>
                                                </p>
                                                <p><strong>End:</strong>
                                                    <%= task.end %>
                                                </p>
                                                <h4>Members:</h4>
                                                <div class="members">
                                                    <% task.members.forEach(member=> { %>
                                                        <p>
                                                            <%= member.level %>
                                                                <%= member.firstName %>
                                                                    <%= member.lastName %> (<%= member.email %>)
                                                        </p>
                                                        <% }) %>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <% } }) %>
                        </div>

                        <div class="column">
                            <h3>Started</h3>
                            <% sub_task.forEach(task=> { if (task.todo === "Started") { %>
                                <div class="task" onclick="toggleDetails('<%= task._id %>')">
                                    <strong>
                                        <%= task.task %> <button type="button" class="button1" id="update"
                                                onclick="update('<%= task._id %>','Not Started')">Not Started</button>
                                            <button type="button" class="button1" id="update"
                                                onclick="update('<%= task._id %>','Done')">Done</button>
                                            <button type="button" class="button1" id="update"
                                                onclick="change(`<%= task %>`)">change</button>
                                    </strong>
                                    <div id="details-<%= task._id %>" class="details">
                                        <p><strong>Description:</strong>
                                            <%= task.description %>
                                        </p>
                                        <p><strong>Start:</strong>
                                            <%= task.start %>
                                        </p>
                                        <p><strong>End:</strong>
                                            <%= task.end %>
                                        </p>
                                        <h4>Members:</h4>
                                        <div class="members">
                                            <% task.members.forEach(member=> { %>
                                                <p>
                                                    <%= member.level %>
                                                        <%= member.firstName %>
                                                            <%= member.lastName %> (<%= member.email %>)
                                                </p>
                                                <% }) %>
                                        </div>
                                    </div>
                                </div>
                                <% } }) %>
                        </div>

                        <div class="column">
                            <h3>Done</h3>
                            <% sub_task.forEach(task=> { if (task.todo === "Done") { %>
                                <div class="task" onclick="toggleDetails('<%= task._id %>')">
                                    <strong>
                                        <%= task.task %> <button type="button" class="button1" id="update"
                                                onclick="update('<%= task._id %>','Started')">Started</button>
                                            <button type="button" class="button1" id="update"
                                                onclick="change(`<%= task %>`)">change</button>
                                    </strong>
                                    <div id="details-<%= task._id %>" class="details">
                                        <p><strong>Description:</strong>
                                            <%= task.description %>
                                        </p>
                                        <p><strong>Start:</strong>
                                            <%= task.start %>
                                        </p>
                                        <p><strong>End:</strong>
                                            <%= task.end %>
                                        </p>
                                        <h4>Members:</h4>
                                        <div class="members">
                                            <% task.members.forEach(member=> { %>
                                                <p>
                                                    <%= member.level %>
                                                        <%= member.firstName %>
                                                            <%= member.lastName %> (<%= member.email %>)
                                                </p>
                                                <% }) %>
                                        </div>
                                    </div>
                                </div>
                                <% } }) %>
                        </div>
                    </div>

                    <br>
                    <br>
                    <h1>Task Details</h1>
                    <label for="progress">Overall Task Progress:</label>
                    <input type="range" id="progress" name="progress" min="0" max="100" value="<%= task.progress %>">
                    <span id="progress-value"></span>
                    <button type="button" class="button" id="submit" onclick="progress()">Submit</button>
                </div>

                <div id="add" class="tabcontent">
                    <form id="form">
                        <h1>Create Sub-Task</h1>
                        <label for="taskName">Task Name:</label>
                        <input type="text" id="taskName" name="taskName" required>
                        <label for="description">Description:</label>
                        <input id="description" name="description" required>
                        <label for="startDate">Start Date:</label>
                        <input type="date" id="startDate" name="startDate" required>
                        <label for="endDate">End Date:</label>
                        <input type="date" id="endDate" name="endDate" required>
                        <br>
                        <label for="members">Members:</label>
                        <select id="members" required>
                            <option value="0">Select Members</option>
                            <% task.members.forEach(member=> { %>
                                <option value="<%= member.id %>">
                                    <%= member.level %>
                                        <%= member.firstName %>
                                            <%= member.lastName %>
                                </option>
                                <% }) %>
                        </select>
                        <button type="button" id="addMem">Add</button>
                        <list id="memList"></list>
                        <br>
                        <button type="button" id="FSubmit" class="button">Submit</button>
                    </form>
                </div>

                <div id="Super" class="tabcontent">

                </div>

                <div id="TeamMem" class="tabcontent">

                </div>

            </div>
            <div id="cover" class="hide">
                <div class="covercontent">
                    <h1>Change Sub_Task</h1>
                    <form>
                        <label id="name" for="taskName">Task Name: </label>
                    </form>
                    <br>
                    <button class="button2" onclick='closeCover()'>close</button>
                </div>
            </div>
            <script>
                function toggleDetails(taskID) {
                    if (!event.target.matches("button")) {
                        console.log(taskID);
                        $("#details-" + taskID).slideToggle();
                    }
                }
            </script>
            <script>
                window.taskData = {
                    startDate: "<%= task.start %>",
                    endDate: "<%= task.end %>",
                    id: "<%= task.id %>",
                }
            </script>
            <script src="/js/task.js"></script>
</body>

</html>