<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task</title>
    <link rel="stylesheet" href="/CSS/Header.css">
    <link rel="stylesheet" href="/CSS/task.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.5.0/frappe-gantt.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.5.0/frappe-gantt.min.js"></script>-->
</head>

<body>
    <%- include('header') %> <!-- This includes the header.html content -->
        <div id="main">
            <div id="content">
                <h2 id="Help">click the tabs to see the dashboard of the task or the chats or the members in the task
                </h2>
                <button class="button1" id="back" onclick="window.location.href='/project/<%= task.projectID %>'">Back
                    to Project</button>
                <div class=" tab">
                    <button class="tablinks" onclick="openTab(event, 'ComInfo')">Dashboard</button>
                    <button class="tablinks" onclick="openTab(event, 'add')">Add Sub Task</button>
                    <button class="tablinks" onclick="openTab(event, 'Super')">Task Chats</button>
                    <button class="tablinks" onclick="openTab(event, 'TeamMem')">Task Memebers</button>
                </div>

                <div id="ComInfo" class="tabcontent">
                    <h1>Task Dashboard</h1>
                    <h2>
                        <label for="progress">Overall Task Progress:</label>
                        <h2 id="progress-value">
                            <%= task.progress %>
                        </h2>
                    </h2>
                    <div class="container">
                        <div class="column">
                            <h3>Not Started</h3>
                            <% sub_task.forEach(task=> { if (task.todo === "Not Started") { %>
                                <div class="task<%= task.importance %>" onclick="toggleDetails('<%= task._id %>')">
                                    <%= task.task %>
                                        <% if (task.members.length===0) { %>
                                            <button onclick="alert('There are no members in this task!')"
                                                style="color: red; background-color: rgb(0, 0, 0); font-weight: bold;">
                                                !
                                            </button>
                                            <% } %><button type="button" class="button1" id="update"
                                                    onclick="update('<%= task._id %>','Started')">Started</button>
                                                <button type="button" class="button1" id="update"
                                                    onclick="change(`<%= task %>`)">change</button>
                                                <div>
                                                    <div id="details-<%= task._id %>" class="details">
                                                        <p><strong>Description:</strong>
                                                            <%= task.description %>
                                                        </p>
                                                        <p><strong>Start:</strong>
                                                            <%= task.start %>
                                                        </p>
                                                        <p><strong>End:</strong>
                                                            <%= task.end %>
                                                        </p>
                                                        <h4>Members:</h4>
                                                        <div class="members">
                                                            <% task.members.forEach(member=> { %>
                                                                <p>
                                                                    <%= member.level %>
                                                                        <%= member.firstName %>
                                                                            <%= member.lastName %> (<%= member.email %>)
                                                                </p>
                                                                <% }) %>
                                                        </div>
                                                    </div>
                                                </div>
                                </div>
                                <% } }) %>
                        </div>

                        <div class="column">
                            <h3>Started</h3>
                            <% sub_task.forEach(task=> { if (task.todo === "Started") { %>
                                <div class="task<%= task.importance %>" onclick="toggleDetails('<%= task._id %>')">
                                    <strong>
                                        <%= task.task %>
                                            <% if (task.members.length===0) { %>
                                                <button onclick="alert('There are no members in this task!')"
                                                    style="color: red; background-color: rgb(0, 0, 0); font-weight: bold;">
                                                    !
                                                </button>
                                                <% } %>
                                                    <button type="button" class="button1" id="update"
                                                        onclick="update('<%= task._id %>','Not Started')">Not
                                                        Started</button>
                                                    <button type="button" class="button1" id="update"
                                                        onclick="update('<%= task._id %>','Done')">Done</button>
                                                    <button type="button" class="button1" id="update"
                                                        onclick="change(`<%= task %>`)">change</button>
                                    </strong>
                                    <div id="details-<%= task._id %>" class="details">
                                        <p><strong>Description:</strong>
                                            <%= task.description %>
                                        </p>
                                        <p><strong>Start:</strong>
                                            <%= task.start %>
                                        </p>
                                        <p><strong>End:</strong>
                                            <%= task.end %>
                                        </p>
                                        <h4>Members:</h4>
                                        <div class="members">
                                            <% task.members.forEach(member=> { %>
                                                <p>
                                                    <%= member.level %>
                                                        <%= member.firstName %>
                                                            <%= member.lastName %> (<%= member.email %>)
                                                </p>
                                                <% }) %>
                                        </div>
                                    </div>
                                </div>
                                <% } }) %>
                        </div>

                        <div class="column">
                            <h3>Done</h3>
                            <% sub_task.forEach(task=> { if (task.todo === "Done") { %>
                                <div class="task<%= task.importance %>" onclick="toggleDetails('<%= task._id %>')">
                                    <strong>
                                        <%= task.task %>
                                            <% if (task.members.length===0) { %>
                                                <button
                                                    onclick="alert('There are no members in this sub_task!\nPlease add members to the sub_task!')"
                                                    style="color: red; background-color: rgb(0, 0, 0); font-weight: bold;">
                                                    !
                                                </button>
                                                <% } %> <button type="button" class="button1" id="update"
                                                        onclick="update('<%= task._id %>','Started')">Started</button>
                                                    <button type="button" class="button1" id="update"
                                                        onclick='change(`<%- JSON.stringify(task) %>`)'>
                                                        Change
                                                    </button>

                                    </strong>
                                    <div id=" details-<%=task._id %>" class="details">
                                        <p><strong>Description:</strong>
                                            <%= task.description %>
                                        </p>
                                        <p><strong>Start:</strong>
                                            <%= task.start %>
                                        </p>
                                        <p><strong>End:</strong>
                                            <%= task.end %>
                                        </p>
                                        <h4>Members:</h4>
                                        <div class="members">
                                            <% task.members.forEach(member=> { %>
                                                <p>
                                                    <%= member.level %>
                                                        <%= member.firstName %>
                                                            <%= member.lastName %> (<%= member.email %>)
                                                </p>
                                                <% }) %>
                                        </div>
                                    </div>
                                </div>
                                <% } }) %>
                        </div>
                    </div>

                    <br>
                    <br>
                    <h1>Task Details</h1>
                </div>

                <div id="add" class="tabcontent">
                    <form id="form">
                        <h1>Create Sub-Task</h1>
                        <label for="taskName">Task Name(under 10 characters):</label>
                        <input type="text" id="taskName" name="taskName" maxlength="10" required>
                        <label for="description">Description:</label>
                        <input id="description" id="description" name="description" required>
                        <label for="importance">Importance:</label>
                        <select id="importance" name="importance" required>
                            <option value=1>Low</option>
                            <option value=2>Medium</option>
                            <option value=3>High</option>
                        </select>
                        <label for="startDate">Start Date:</label>
                        <input type="date" id="startDate" name="startDate" required>
                        <label for="endDate">End Date:</label>
                        <input type="date" id="endDate" name="endDate" required>
                        <br>
                        <label for="members">Members:</label>
                        <select id="members" required>
                            <option value="0">Select Members</option>
                            <% task.members.forEach(member=> { %>
                                <option value="<%= member.id %>">
                                    <%= member.level %>
                                        <%= member.firstName %>
                                            <%= member.lastName %>
                                </option>
                                <% }) %>
                        </select>
                        <button type="button" id="addMem">Add</button>
                        <list id="memList"></list>
                        <br>
                        <button type="button" id="FSubmit" class="button">Submit</button>
                    </form>
                </div>

                <div id="Super" class="tabcontent">
                    <script>
                        window.profiles = [];
                    </script>

                    <% profiles.forEach(profile=> { %>
                        <script>
                            console.log("Profile ID: ", "<%= profile._id %>");
                            window.profiles.push({
                                id: "<%= profile._id %>",
                                profilePic: "<%= profile.profile %>"
                            });
                        </script>
                        <% }) %>

                            <div id="main">
                                <!-- Chat Messages -->
                                <div class="chat-container" id="chat-box">
                                    <!-- Messages will be loaded here dynamically -->
                                </div>

                                <!-- Chat Form -->
                                <form id="form2" class="chat-form">
                                    <input type="text" id="msg" name="msg" placeholder="Type your message here"
                                        required>

                                    <div class="file-box" id="file-box">
                                        <span>No files chosen</span>
                                    </div>

                                    <label for="file" class="file-label">📎 Attach</label>
                                    <input type="file" id="file" name="files" multiple>

                                    <button type="submit" id="send">Send</button>
                                </form>
                            </div>

                            <script>
                                const fileInput = document.getElementById("file");
                                const fileBox = document.getElementById("file-box");
                                let selectedFiles = [];

                                fileInput.addEventListener("change", function () {
                                    let newFiles = Array.from(this.files);

                                    if (selectedFiles.length + newFiles.length > 5) {
                                        alert("You can only attach up to 5 files.");
                                        return;
                                    }

                                    selectedFiles = [...selectedFiles, ...newFiles].slice(0, 5);
                                    updateFileDisplay();
                                });

                                function updateFileDisplay() {
                                    fileBox.innerHTML = "";

                                    if (selectedFiles.length > 0) {
                                        selectedFiles.forEach((file, index) => {
                                            let fileDiv = document.createElement("div");
                                            let fileName = document.createElement("span");
                                            fileName.textContent = file.name;
                                            let removeBtn = document.createElement("span");
                                            removeBtn.textContent = "✖";
                                            removeBtn.classList.add("remove-file");
                                            removeBtn.onclick = function () {
                                                removeFile(index);
                                            };

                                            fileDiv.appendChild(fileName);
                                            fileDiv.appendChild(removeBtn);
                                            fileBox.appendChild(fileDiv);
                                        });
                                    } else {
                                        fileBox.innerHTML = "<span>No files chosen</span>";
                                    }
                                }

                                function removeFile(index) {
                                    selectedFiles.splice(index, 1);
                                    updateFileDisplay();
                                }
                            </script>
                            <script>
                                window.chatData = {
                                    chatId: "<%= chat[0]._id %>",
                                    userId: "<%= chat[0].userId %>",
                                    ID: "<%= id %>",
                                    projectId: "<%= chat[0].projectId %>",
                                };

                            </script>
                </div>

                <div id="TeamMem" class="tabcontent">
                    <div class="members-container">
                        <% members.forEach(member=> { %>
                            <div class="member-box">
                                <img src="<%= member.profile || '/images/default-profile.png' %>" alt="Profile Picture">
                                <h3>
                                    <a href="/profile/<%= member._id %>">
                                        <%= member.firstName %>
                                            <%= member.lastName %>
                                    </a>
                                </h3>
                                <p><strong>Email:</strong>
                                    <%= member.email %>
                                </p>
                                <p><strong>Username:</strong>
                                    <%= member.email.split('@')[0] %>
                                </p>
                                <p><strong>Role:</strong>
                                    <%= member.level %>
                                </p>

                                <button class="button" onclick="window.location.href=`/chat/<%= member.id %>`">chat with
                                    user</button>
                                <button class="button" onclick="deleteMem('<%= member.id %>')">Delete</button>
                            </div>
                            <% }) %>
                    </div>

                </div>

            </div>
            <div id="cover" class="hide">
                <div class="covercontent">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1 id="name">Change Sub Task details</h1>
                    <h1>Change all Sub Task details or some</h1>
                    <form>
                        <label id="name" for="taskName">Task Name: </label>
                        <input type="text" id="taskName" name="taskName">
                        <label id="desc" for="description">Description: </label>
                        <input type="text" id="description" name="description">
                        <label id="imp" for="importance">Importance: </label>
                        <select id="importance" name="importance">
                            <option value=1>Low</option>
                            <option value=2>Medium</option>
                            <option value=3>High</option>
                        </select>
                        <label id="start" for="startDate">Start Date: </label>
                        <input type="date" id="startDate" name="startDate">
                        <label id="end" for="endDate">End Date: </label>
                        <input type="date" id="endDate" name="endDate">
                        <br>
                        <label id="mem" for="Amembers">Add Members: </label>
                        <select id="Amembers">
                            <option value="0">Select Members</option>
                        </select>
                        <button type="button" id="addMem">Add</button>
                        <list id="memList"></list>
                        <br>
                        <label id="mem" for="Rmembers">Remove Members: </label>
                        <select id="Rmembers">
                            <option value="0">Select Members</option>
                        </select>
                        <button type="button" id="removeMem" class="btn">Remove</button>
                        <list id="memList"></list>
                        <br>
                        <button type="button" id="CSubmit" class="button">Submit</button>

                    </form>
                    <br>
                    <button class="button2" onclick='closeCover()'>close</button>
                </div>
            </div>
            <script>
                function toggleDetails(taskID) {
                    if (!event.target.matches("button")) {
                        //console.log(taskID);
                        $("#details-" + taskID).slideToggle();
                    }
                }
            </script>
            <script>
                window.taskData = {
                    startDate: "<%= task.start %>",
                    endDate: "<%= task.end %>",
                    id: "<%= task.id %>",
                }
            </script>
            <script src="/js/TChat.js"></script>
            <script src="/js/task.js"></script>
</body>

</html>