<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Page</title>
    <link rel="stylesheet" type="text/css" href="/CSS/Header.css">
    <link rel="stylesheet" type="text/css" href="/CSS/Users.css">
    <script src="/js/users.js"></script>
</head>

<body>
    <%- include('header') %> <!-- This includes the header.html content -->
        <div class="container">
            <% if (typeof users !=="undefined" && users.length> 0) { %>
                <h1>User Details</h1>
                <img src="<%=users[0].profile %>" alt=" User Image" class="user-image" id="profileImage">
                <div class="button-container">
                    <button onclick="changeProfile('<%= users[0]._id %>')">Change Profile</button>
                    <input type="file" id="fileInput" style="display: none;" accept="image/*"
                        onchange="uploadImage(event, '<%= users[0]._id %>')">
                </div>
                <p><strong>First Name:</strong>
                    <%= users[0].firstName %>
                </p>
                <p><strong>Last Name:</strong>
                    <%= users[0].lastName %>
                </p>
                <p><strong>Email:</strong>
                    <%= users[0].email %>
                </p>
                <p><strong>Role:</strong>
                    <%= users[0].role %>
                </p>
                <div class="button-container">
                    <button onclick="changePassword('<%= users[0]._id %>')">Change Password</button>
                </div>
                <% } else { %>
                    <p>No user data available. Please wait for the data to be retrieved.</p>
                    <script>
                        setTimeout(function () {
                            location.reload();
                        }, 3000); // Wait 5 seconds before reloading
                    </script>
                    <% } %>
        </div>
        <button id="logout" onclick="logout()">Logout</button>
</body>

</html>